textarea {
    display: flex;
    background-color: #f4f1ec;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.532);
    border: none;
    border-bottom: 5px solid rgba(0, 0, 0, 0.706);
    justify-content: flex-start;
    margin: auto;
    width: 100%;
}


#tweet {
    background-color: #4056A1;
    font-family: 'Bungee', cursive;
    color: white;
    font-size: 20px;
}


.tweets {
    display: flex;
    font-family: 'Bungee', cursive;
    font-size: 20px;
    opacity: .75;
}


.counter {
    display: flex;
    justify-content: flex-end;
    font-family: 'Bungee', cursive;
    color: inherit;
}


.handle {
    display: flex;
    justify-content: flex-end;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    color: #4056A1;
    margin-left: auto;
    /* margin-right: 1em; */
}


.main-content {
    display: flex;
    flex-direction: row;
}


.uName {
    font-family: 'Bungee', cursive;
    font-size: 25px;
    opacity: .75;
}
.error-empty {
    font-size: 30px;
    display: flex;
    justify-content: center;
    border: #e4190e solid;
    color: #e4190e;
    border-width: 5px;
    width: 80%;
    padding: 25px;
    margin: auto;
}

.error-full {
    font-size: 30px;
    display: flex;
    justify-content: center;
    border: #e4190e solid;
    color: #e4190e;
    border-width: 5px;
    width: 80%;
    padding: 25px;
    margin: auto;
}

.tweet-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pTweet {
    margin-left: 1em; 
}


.tweet-content {
    margin-bottom: 20px;
}


.pBorder {
    border-bottom: solid rgba(0, 0, 0, 0.706) 5px;
    width: 95%;
    margin: auto;
}


.oBorder {
    height: 250px;
    border: solid rgba(0, 0, 0, 0.706) 5px;
}


.oBorder:hover {
    box-shadow: #4057a186 10px 10px;
}


.date {
    margin-left: 1.5em;
}


.interact {
    display: flex;
    float: right;
    margin-top: 12px;
    margin-right: .5em;
    background-color: #f4f1ec;
    border: 0;
}


.fa-solid {
    color: #4056A1;
    margin: auto;
}


.fa-solid:hover {
    color: rgb(208, 174, 41);
}

/*desktop view*/
@media only screen and (min-width: 1024px) {
    .container {
        width: 50%;
        float: right;
        padding-top: 5em;
    }    
    body {
        display: flex;
        flex-direction: row;
    }
    
}